html, body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
html{
    height:100%;
}
body{
    background-color:hsl(240, 100%, 97%);
}
header{
    width:85%;
    margin: 15% auto;
    display: flex;
    flex-flow: column nowrap;
}
#pricing-title{
    font-size: 24pt;
    margin: 5% auto;
    color:hsl(233, 13%, 49%);
}
#toggle-area{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 25px;
    justify-content: space-around;
    margin: 5% 0;
}
#annual{
    color:hsl(234, 14%, 74%);
    order:1
}
#toggler{
    order:2;
    display:flex;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    height:35px;
    width:70px;
    border-radius: 25px;
    padding: 0 5%;
    /*justify-content: right; 
    (this will move the boggle)*/
}
#boggle{
    height:25px;
    width:25px;
    border-radius: 100%;
    background-color: white;
    margin: auto 2px;

}
#month{
    color:hsl(234, 14%, 74%);
    order:3;
}

.price-card{
    display:flex;
    flex-flow: column nowrap;
    width: 70%;
    text-align:center;
    margin: 15% auto;
    padding: 10% 10%;
    background-color: white;
    border-radius: 10px;
}
.price-card:nth-child(even){
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.price-card:nth-child(even) > .plan{
    color:white;
}
.price-card:nth-child(even) > .feature {
    color:white
}
.price-card:nth-child(even) > .annualPrice{
    color: white;
}
.price-card:nth-child(even) > .monthPrice{
    color:white;
}
.price-card:nth-child(even) > .learn-btn{
    background: unset;
    background-color: white;
    color:hsl(237, 63%, 64%);
}

.plan{
    color: grey;
}
.annualPrice, .monthPrice{
    color:hsl(232, 13%, 33%);
    font-size:45pt;
    margin: 10%;
}
.feature{
    border-top: hsl(234, 14%, 74%) 1px solid;
    padding: 20px 0;
    color:hsl(233, 13%, 49%);
}
.feature:nth-last-child(2){
    border-bottom: hsl(234, 14%, 74%) 1px solid;
    margin-bottom: 2rem;
}
.learn-btn{
    padding: 15px 0;
    border-radius: 5px;
    color:white;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%))
}
.hidden{
    display:none;
}

@media (min-width:415px){

    #cards{
        display:flex;
        flex-flow:row nowrap;
    }
    header{
        width:40%;
        margin: 5% auto 0 auto;
    }
    .price-card{
        margin: 0;
    }

}